body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
  color: orangered;
}

.stars{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  color:lightgray;
}

.stars{
  list-style: none;
  font-size: 4rem;
  padding-left: 20px;

}



.clicked-stars{
  color: yellow;
}